:root.theme-dark {
  --accent-color: #FF0070;
  --background-image: url(../images/cover-image-dark.png);
  --font: "IBM Plex Mono";
  --main-text-color: #F1B2CE;
  --background-color: #000028;
  --button-hover:rgba(255, 0, 112, 0.40);
  --title-decor-color:#db00ff;
  --decorated-header-color: #ff0070;
  --h3-color:#ff0070;
}

