/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #FF8DCB;
  --background-image: url(../images/cover-image-light.png);
  --font: "IBM Plex Mono";
  --main-text-color: #353430;
  --background-color: #FFC2E6;
  --button-hover:rgba(53, 52, 48, 0.4);
  --title-decor-color:#FFC2E6;
  --decorated-header-color: #353430;
  --section-header-color:#353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --background-image: url(../images/cover-image-light.png);
    --font: "IBM Plex Mono";
    --main-text-color: #353430;
    --background-color: #FFC2E6;
    --button-hover:rgba(53, 52, 48, 0.4);
    --title-decor-color:#FFC2E6;
    --decorated-header-color: #353430;
    --section-header-color:#353430;
  }

  .header__decoration-element {
  display: none;
}
}

.theme-light .header__decoration-element {
  display: none;
}
