.page {
  padding: 10px;
  padding-block-end: 0;
  color: var(--main-text-color, #f1b2ce);
  font-family: var(--font, sans-serif);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.3;
  background-color: var(--background-color, #000028);
  background-image: var(--background-image, none);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header,
.footer {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
}

.header {
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  justify-content: space-between;
  padding-block-end: 20px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after,
.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  bottom: 0;
  left: 0;
  margin-block-end: 20px;
  border-bottom: 1px solid var(--decorated-header-color, #ff0070);
  border-left: 1px solid var(--decorated-header-color, #ff0070);
}

.decorated-zone::before {
  top: 0;
  right: 0;
  border-top: 1px solid var(--decorated-header-color, #ff0070);
  border-right: 1px solid var(--decorated-header-color, #ff0070);
}

.header__decoration-element {
  position: absolute;
  top: 0;
  right: 0;
  padding-inline-end: 28px;
  color: var(--decorated-header-color, #ff0070);
  line-height: 1.39;
  text-transform: uppercase;
}

.header__decoration-element::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 70%;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--decorated-header-color, #ff0070);
  background-color: var(--decorated-header-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  grid-column: 2;
  padding-block-end: 5px;
  color: var(--decorated-header-color, #ff0070);
  line-height: 1.1;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.header__theme-menu-button {
  border: none;
  padding-inline: 13px;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button:focus {
  border: none;
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button_active {
  border: 1px solid var(--decorated-header-color, #ff0070);
  pointer-events: none;
}

.header__title {
  grid-column: span 2;
}

.title-decor {
  justify-self: start;
  color: var(--title-decor-color, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.8;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.header__content {
  grid-column: 2;
  grid-row: 3;
  inline-size: 22.19rem;
}

.content-decor {
  display: flex;
  flex-direction: column;
  justify-self: end;
  color: #000028;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  background-color: var(--accent-color, #ff0070);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-block-start: 30px;
  padding-block-end: 40px;
}

.section,
.section__list,
.section__list-item {
  display: flex;
  flex-direction: column;
}

.section {
  gap:20px;
}

.section__list {
  gap: 20px;
}

.section__list-item {
  gap: 10px;
}

.text-decor {
  color: var(--section-header-color, #ff0070);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
}

.link-decor {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color, #ff0070);
  cursor: pointer;
}

.link-decor:hover {
  border-bottom: 1px solid currentColor;
}

.link-decor:focus {
  border: none;
  outline: none;
}

.link-decor:focus-visible {
  border: 1px solid currentColor;
}

.advice-section__list-item-header {
  font-weight: 400;
}

.images-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
}

.footer {
  text-shadow: 2px 2px var(--accent-color, #ff0070);
}

.footer.decorated-zone::after {
  margin-block-end: 10px;
}

.footer.decorated-zone::before {
  margin-block-start: 10px;
}

@media (width >=768px) {
  .header,
  .footer {
    min-height: 1024px;
  }

  .page {
    padding-inline: 20px;
    padding-block-start: 20px;
  }

  .header {
    padding-block-end: 40px;
  }

  .header.decorated-zone::after {
    margin-block-end: 40px;
  }

  .header__content {
    min-inline-size: 22.75rem;
  }

  .title-decor {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .main {
    gap: 80px;
    padding-block-end: 0;
  }

  .section {
    display: grid;
  }

  .focus-section {
    grid-template-columns: 1fr 2fr;
    padding-block-start: 10px;
  }

  .concentration-section {
    grid-template-columns: 1fr;
  }

  .concentration-section__title {
    inline-size: 14.75rem;
  }

  .advice-section {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 23px;
  }

  .advice-section__title {
    grid-column-start: 2;
    grid-row-start: 1;
    inline-size: 100%;
  }

  .advice-section__list {
    grid-row: 2;
    grid-column-start: 2;
  }

  .images-section {
    display: grid;
    grid-template-columns: repeat(3, minmax(229px, 1fr));
    gap: 20px;
    margin-block-end: 60px;
  }

  .images-section__header {
    grid-column: 1/-1;
    inline-size: 100%;
  }

  .images-section__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .images-section__sunset {
    grid-column: span 2;
    grid-row: span 1;
  }

  .images-section__ice {
    grid-column: 3;
    grid-row: span 2;
  }

  .images-section__tape {
    grid-column: 1;
    grid-row: span 2;
  }

  .images-section__street {
    grid-column: span 2;
  }

  .footer {
    padding-inline-start: 20px;
    padding-block-end: 0;
  }

  .footer.decorated-zone::after {
    margin-block-end: 20px;
  }

  .footer.decorated-zone::before {
    margin-block-start: 20px;
  }
}

@media (width >=1024px) {
  .header,
  .footer {
    min-height: 768px;
  }

  .header__content {
    min-inline-size: 30.687rem;
  }

  .header__theme-menu {
    grid-column-start: 1;
    grid-column-end: -1;
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 11px;
  }

  .focus-section {
    gap: 10px;
  }

  .concentration-section__title {
    inline-size: 30%;
  }

  .concentration-section__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .advice-section {
    grid-template-columns: 32% 66%;
  }
}