body {
  padding: 0;
  margin: 0 auto;
}

.page {
  padding: 10px;
  color: var(--main-text-color, #f1b2ce);
  font-family: var(--font), sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.3;
  background-color: var(--background-color, #000028);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header,
.footer {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 648px;
}

.header {
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  justify-content: space-between;
}

.header__title {
  grid-column: span 2;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after,
.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--decorated-header-color, #ff0070);
  border-left: 1px solid var(--decorated-header-color, #ff0070);
}

.decorated-zone::before {
  top: 0;
  right: 0;
  border-top: 1px solid var(--decorated-header-color, #ff0070);
  border-right: 1px solid var(--decorated-header-color, #ff0070);
}

.header__decoration-element {
  position: absolute;
  top: 0;
  right: 0;
  padding-inline-end: 29px;
  color: var(--decorated-header-color, #ff0070);
  line-height: 1.39;
  text-transform: uppercase;
}

.header__decoration-element::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 43px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px var(--decorated-header-color, #ff0070);
  background-color: var(--decorated-header-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  grid-column: 2;
  padding-block-end: 5px;
  color: var(--decorated-header-color, #ff0070);
  line-height: 1.1;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.header__theme-menu-button {
  border: none;
  padding-inline: 13px;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button:focus-visible {
  border: none;
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button_active {
  border: 1px solid var(--decorated-header-color, #ff0070);
  pointer-events: none;
}

.title-decor {
  justify-self: start;
  color: var(--title-decor-color, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.8;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.header__content {
  grid-column: 2;
  grid-row: 3;
  inline-size: clamp(355px, 100%, 364px);
}

.content-decor {
  display: flex;
  flex-direction: column;
  justify-self: end;
  color: #000028;
  font-weight: 700;
  line-height: 1.3;
  background-color: var(--accent-color, #ff0070);
}

.text-decor {
  color: var(--h3-color, #ff0070);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-block: 50px;
}

.spacing {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.li-spasing {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link-decor {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color, #ff0070);
}

.link-decor:hover {
  border-bottom: 1px solid currentColor;
}

.link-decor:focus-visible {
  border: 1px solid currentColor;
}

.images-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.images-section__header {
  font-size: 18px;
}

.footer {
  padding-block: 10px;
  text-shadow: 2px 2px var(--accent-color, #ff0070);
}

@media (width >=768px) {
  .page {
    padding: 20px;
  }

  main {
    gap: 80px;
  }

  .header {
    min-height: 984px;
  }

  .header__content {
    inline-size: clamp(364px, 100%, 491px);
  }

  .title-decor {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .section-first {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-block-start: 30px;
  }

  .section-second {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .section-second-title {
    inline-size: 14.75rem;
  }

  .section-third {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 23px;
  }

  .section-third__title {
    grid-column-start: 2;
    grid-row-start: 1;
    inline-size: 100%;
  }

  .section-third__list {
    grid-row: 2;
    grid-column-start: 2;
  }

  .section-third__list-header {
    font-weight: 400;
  }

  .images-section {
    display: grid;
    grid-template-columns: repeat(3, minmax(231px, 1fr));
    grid-template-rows: min-content repeat(12rem 14.375rem 19.875rem);
    gap: 20px;
    margin-block-end: 25px;
  }

  .images-section__header {
    grid-column: 1/-1;
    inline-size: 100%;
  }

  .images-section-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .images-section__sunset {
    grid-column: span 2;
    grid-row: span 1;
  }

  .images-section__ice {
    grid-column: 3;
    grid-row: span 2;
  }

  .images-section__tape {
    grid-column: 1;
    grid-row: 2 span;
  }

  .images-section__street {
    grid-column: 2 span;
  }

  .footer {
    min-height: 984px;
    padding-inline-start: 20px;
  }
}

@media (width >=1024px) {
  .header {
    min-height: 768px;
    margin-bottom: -40px;
    padding-bottom: 40px;
  }

  .decorated-zone::after {
    margin-bottom: 40px;
  }

  .header__theme-menu {
    grid-column-start: 1;
    grid-column-end: -1;
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }

  .section-second-title {
    inline-size: 30%;
  }

  .section-second__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer {
    min-height: 768px;
    padding-block: 0;
  }

  .images-section {
    margin-block-end: 30px;
  }

  h2 {
    padding-block-end: 40px;
  }
}